.logo {
    float: left;
    width: 50px;
    height: 31px;
    margin: 16px 24px 16px 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.3);
}

.logo img {
    width: 50px;
    height: 31px;
    margin: 0;
    object-fit: cover;
}
  
.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}