#header img {
    width: 10%;
    height: 10%;
}

.list-group {
    max-height: 300px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#shortcuts {
    background-color: #343a40;
}

#reserved-words {
    background-color: whitesmoke;
}